[Unit]
Description=Baby starting solid
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pavel
ExecStart=/usr/bin/env python /home/pavel/masumi/FirstFood/server.py

[Install]
WantedBy=multi-user.target