body {
    background-color: rgb(255, 255, 255);
    font-size: 1em;
	margin: auto;
    letter-spacing: 1px;
    text-align: center;
}

form {
    border-radius: 5px;
    background-color: rgb(156, 215, 223);
    /* color: white; */
    padding: 20px 20px 5px;
    margin: 10px auto;
    text-align: left;
    width: 85%;
    box-shadow: #fff 4px 4px 0 0,#5c5656 4px 4px 0 1px;
    border: 1px solid #5c5656;
}


.hidden {
    display: none;
}

.collapsible {
    background-color: #ffe54c;
    cursor: pointer;
    padding: 1em;
    border: 1px solid #5c5656;
    border-radius: 10px 10px 0 0;
    text-align: left;
    outline: none;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    color: #5c5656;
    margin: 0.5em 0.5em 0 0.5em;
}


.foods {
    padding: 0 1em;
    overflow: hidden;
    color: #5c5656;
    text-align: left;
    border: none;
    border-left: 1px solid #5c5656;
    border-right: 1px solid #5c5656;
    border-bottom: 1px solid #5c5656;
    border-radius: 0 0 10px 10px;
    margin:0 0.5em 0.5em 0.5em;
}

#list {border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.foods.collapsed {
    display: none;
}

.collapsible.collapsed {
    border-radius: 10px;
}

li {
    display: flex;
    justify-content: space-between;
}

.delete_button {
    font-size: 0.5em;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #cac7c7;
}


.number_food {
    /* color: white; */
    font-size: 0.8em;
}

.button {
    background-color: while;
    color: #5c5656;
    border: 1px solid #5c5656;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

footer {
    text-align: right;
    margin: 1em;
}
